.about-me {
  width: 100%;
  padding: 50px 20px 10px;
}
.about-me .about-me__general {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.about-me .about-me__general p {
  font-size: 1.3rem;
  line-height: 3rem;
  margin-top: 15%;
  transition: transform 0.2s;
}
.about-me .about-me__general p:hover {
  transform: scale(1.2);
}
.about-me .about-me__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10%;
  gap: 20%;
}
.about-me .about-me__conteiner .about-me__skills h2 {
  margin-bottom: 2%;
  line-height: 1.5rem;
  width: 100px;
  font-size: 1.5rem;
  color: rgb(182, 182, 43);
  font-weight: bolder;
}
.about-me .about-me__conteiner .about-me__lenguages-conteiner h2 {
  margin-bottom: 2%;
  line-height: 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(182, 182, 43);
  font-weight: bolder;
}
.about-me .about-me__conteiner ul li {
  line-height: 2.8rem;
  font-size: 1.1rem;
  transition: transform 0.2s;
}
.about-me .about-me__conteiner ul li:hover {
  transform: scale(1.1);
}

.banner-section {
  width: 100%;
  padding: 10px;
}
.banner-section .banner-section__conteiner {
  margin: 30px 30px 0px 30px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 2px 2px rgba(0, 0, 0, 0.12), 4px 4px 4px 4px rgba(0, 0, 0, 0.12), 8px 8px 8px 8px rgba(0, 0, 0, 0.12), 16px 16px 16px 16px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1920px;
  text-transform: uppercase;
  line-height: 50px;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  * {
    font-size: 14px;
    line-height: 40px;
  }
}
@media screen and (max-width: 800px) {
  * {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 10px;
    line-height: 30px;
  }
}
@media screen and (max-width: 400px) {
  * {
    font-size: 8px;
    line-height: 20px;
  }
}
a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.contact-info {
  width: 100%;
  background-color: black;
  padding: 30px 20px 10px;
}
.contact-info div {
  display: block;
  text-align: center;
}
.contact-info div a {
  color: rgb(182, 182, 43);
}
.contact-info div:not(:last-child) {
  margin-bottom: 2%;
}

.education-section {
  width: 100%;
  padding: 30px 20px 10px;
}
.education-section h3 {
  text-align: center;
  margin: 10% 0px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  padding: 20px 0;
}
.education-section .education-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.education-section .education-section__container h4 {
  margin-bottom: 2%;
  line-height: 1.5rem;
}
.education-section .education-section__container ul li {
  margin-bottom: 2%;
}
.education-section .education-section__container .education-section__university {
  width: calc((100% - 50px) / 2);
}
.education-section .education-section__container .education-section {
  width: calc((100% - 50px) / 2);
}
@media screen and (max-width: 600px) {
  .education-section .education-section__container {
    flex-direction: column;
    gap: 40px;
  }
}

.estate-container {
  width: calc((100% - 100px) / 3);
}
.estate-container h3 {
  margin-bottom: 2%;
  line-height: 1.5rem;
  color: black;
}
.estate-container ul li {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .estate-container {
    width: 100%;
  }
}
.gbar-container {
  width: calc((100% - 100px) / 3);
}
.gbar-container h3 {
  margin-bottom: 2%;
  line-height: 1.5rem;
}
.gbar-container ul li {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .gbar-container {
    width: 100%;
  }
}
.navigation-menu {
  width: 100%;
}
.navigation-menu ul {
  text-align: center;
  margin: 2%;
}
.navigation-menu ul li {
  font-size: 1.2rem;
  display: inline-block;
  line-height: 5rem;
}
@media screen and (min-width: 550px) {
  .navigation-menu ul li:not(:last-child)::after {
    content: "";
    margin: 0 50px;
    border-right: 1px solid rgb(105, 102, 102);
  }
}
@media screen and (max-width: 850px) {
  .navigation-menu ul li:not(:last-child)::after {
    margin: 0 15px;
  }
}
@media screen and (max-width: 550px) {
  .navigation-menu ul li {
    display: block;
    line-height: 4rem;
  }
}
.navigation-menu ul li:last-child a {
  color: rgb(182, 182, 43);
  font-weight: bold;
}
@media screen and (max-width: 550px) {
  .navigation-menu ul li:last-child {
    margin-bottom: 30%;
  }
}

.repair-shop-container {
  width: calc((100% - 100px) / 3);
}
.repair-shop-container h3 {
  margin-bottom: 2%;
  line-height: 1.5rem;
}
.repair-shop-container ul li {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .repair-shop-container {
    width: 100%;
  }
}
.work-experience {
  width: 100%;
  padding: 30px 20px 10px;
}
.work-experience h2 {
  text-align: center;
  margin: 10% 0px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  padding: 20px 0;
}
.work-experience .work-experience__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 600px) {
  .work-experience .work-experience__conteiner {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
}

.logo-container {
  margin: 5%;
  transition: transform 0.2s;
}
.logo-container h1 {
  display: inline-block;
  font-size: 2.5rem;
  border-bottom: 2px solid black;
  margin-left: 30%;
  margin-bottom: 2%;
}
.logo-container span {
  background-color: rgb(182, 182, 43);
  font-size: 2.5rem;
  margin-left: 20%;
  margin-top: 15%;
  display: inline-block;
}
.logo-container a {
  display: block;
}

.logo-container:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */